{"Antibody Targets (Hematological)"
 ["CD19" "CD20" "CD22" "CD37" "CD40" "CD74" "CD79A" "CD79B"
  "SLAMF7" "TNFRSF17" "CD33" "CD123" "CD38" "CD52" "TNFRSF8"]
 "Antibody Targets (Solid Tumor Specific)"
 ["EGFR" "ERBB2" "ERBB3" "IGF1R" "PDGFRA" "FGFR2" "MET"
  "CEACAM5" "CLDN18" "FOLH1" "GPC3" "MSLN" "MUC1" "MUC16"
  "NECTIN4" "STEAP1" "TACSTD2" "AFP" "HGF"]
 "Antibody Targets (Immune & Checkpoints)"
 ["CTLA4" "PDCD1" "PDCD1LG2" "CD274" "LAG3" "TIGIT" "VISTA"
  "CD27" "CD40" "CD40L" "TNFRSF4" "TNFRSF9" "ICOSL"]
 "Antibody Targets (Angiogenesis & TME)"
 ["VEGFA" "FLT1" "KDR" "NRP1" "EGFL7" "ENG" "FAP" "CCN2" "TNC"]
 "Antibody Targets (MHC)"
 ["HLA-DRA" "HLA-DRB1" "HLA-DRB3" "HLA-DRB4" "HLA-DRB5"]
 "Antibody Targets (Autoimmune Related)"
 ["IL2RA" "IL4RA" "IL5RA" "IL6R" "IL17RA" "IFNAR1"
  "CCR2" "CCR4" "CCR5" "CXCR4" "TNFSF13B" "FGF23"]
 "DNA Repair - Homologous Recombination (HR)"
 ["RAD51C"
  "BRCA1"
  "RAD50"
  "BARD1"
  "RAD51D"
  "PALB2"
  "RAD51B"
  "BRIP1"
  "BRCA2"
  "XRCC3"
  "RAD51"
  "XRCC2"]
 "DNA Repair - Mismatch Repair (MMR)"
 ["MSH6"
  "MLH1"
  "PMS2"
  "MLH3"
  "MSH2"
  "MSH3"
  "PMS1"
  "EXO1"]
 "DNA Repair - Non-homologous End Joining (NHEJ)"
 ["PRKDC"
  "XRCC6"
  "XRCC5"
  "POLL"
  "POLM"
  "XRCC4"
  "NHEJ1"
  "LIG4"]
 "Oncogenic Pathway (PI3K-AKT-mTOR)"
 ["AKT3"
  "PIK3R1"
  "TSC2"
  "PTEN"
  "PIK3R2"
  "AKT2"
  "TSC1"
  "AKT1"
  "PIK3CB"
  "MTOR"
  "PIK3CA"
  "RHEB"
  "RICTOR"
  "RPTOR"
  "RPS6KB1"
  "PIK3CD"
  "PDK1"
  "PDK2"
  "PIK3CG"
  "EIF4EBP1"
  "PIK3R3"]
 "Immune - Cytokines (Pro-Inflammatory)"
 ["TNF"
  "IL18"
  "IL6"
  "IL12A"
  "IL12B"
  "IL23A"
  "IL17A"
  "IL1B"
  "IL1A"
  "IFNG"
  "IL15"
  "IFNB1"
  "IFNA1"]
 "Immune - Cytokines (Suppressive)"
 ["TGFB2"
  "TGFB1"
  "TGFB3"
  "IL4"
  "IL10"
  "IL13"]
 "Immune - T-Cells"
 ["CD4"
  "FOXP3"
  "CD3E"
  "CD8A"
  "IL2RA"
  "CD3D"
  "CD8B"
  "CD3G"
  "CD25"
  "GITR"]

 "Cell Death (BCL2 Family Anti-Apoptotic)"
 ["MCL1"
  "BCL2L1"
  "BCL2"
  "BCL2L2"
  "BCL2A1"]
 "Cell Cycle (p53 / RB axis)"
 ["TP53" "MDM4" "RB1" "MDM2" "RBL1" "RBL2" "E2F4" "TP63" "TP73" "E2F1" "E2F3" "E2F2"]
 "Receptor TKs (ERBB / HER)"
 ["ERBB3" "EGFR" "ERBB4" "ERBB2" "NRG3" "NRG1" "NRG2" "HBEGF" "EGF" "NRG4" "TGFA" "AREG" "EREG" "EPGN" "BTC"]
 "Cell Death (Emerging Targets)"
 ["MCL1" "BCL2" "BCL2L1" "XIAP" "BIRC2" "BIRC3"]
 "CAR-T Targets (Solid)"
 ["EGFR"
  "ERBB2"
  "FOLH1"
  "MUC1"
  "MUC4"
  "CD276"
  "EPCAM"
  "GPC3"
  "PRAME"
  "MUC16"
  "FOLR1"
  "CEACAM5"
  "NECTIN4"
  "CLDN6"
  "MAGEA4"
  "MSLN"
  "TACSTD2"
  "CLDN18"
  "PSCA"]
 "Oncogenic Pathway (MAPK-ERK)"
 ["MAPK1"
  "BRAF"
  "RAF1"
  "MAP2K2"
  "MAP2K1"
  "ARAF"
  "MAPK3"
  "MAP3K1"
  "MAPK8"
  "MAPK14"
  "DUSP6"]
 "DNA Repair (Approved & Emerging Targets)"
 ["PARP1" "PARP2" "ATR" "CHEK1" "CHEK2" "WEE1" "PRKDC" "POLQ"]
 "Cell Cycle (Approved & Emerging Targets)"
 ["CDK4" "CDK6" "CDK1" "CDK2" "CDK5" "CDK9" "CDK7"]
 "Oncogenic Pathway (JAK-STAT)"
 ["STAT3" "STAT5B" "STAT6" "SOCS1" "PIAS1" "STAT2" "STAT1" "STAT5A" "PIAS3" "STAT4" "SOCS2" "SOCS3"]
 "Oncogenic Pathway (NF-κB)"
 ["NFKBIA" "RELA" "IKBKB" "TRAF3" "NFKB2" "TRAF2" "NFKB1" "RELB" "IKBKG" "REL" "TRAF6" "TRAF1" "CHUK"]
 "Oncogenic Pathway (Wnt / β-catenin)"
 ["APC" "CTNNB1" "TCF7L2" "AXIN2" "GSK3B" "LRP6" "AXIN1" "LRP5" "LEF1" "TCF7" "TCF7L1" "WNT5A" "FZD1" "FZD7" "WNT3A" "WNT1" "DKK1"]
 "Oncogenic Pathway (Hedgehog)"
 ["PTCH1" "SUFU" "SMO" "HHIP" "GLI2" "GLI3" "GLI1" "PTCH2" "SHH" "IHH" "DHH"]
 "Oncogenic Pathway (Notch)"
 ["NOTCH1" "NOTCH2" "RBPJ" "JAG1" "NOTCH3" "HEY1" "HES1" "DLL1" "NOTCH4" "DLL3" "JAG2" "DLL4"]
 "Oncogenic Pathway (Hippo / YAP-TAZ)"
 ["NF2" "WWTR1" "YAP1" "STK3" "STK4" "TEAD1" "LATS1" "MOB1A" "TEAD2" "LATS2" "SAV1" "TEAD4" "TEAD3"]
 "Oncogenic Pathway (TGF-β / SMAD)"
 ["SMAD2" "SMAD4" "SMAD3" "TGFBR1" "TGFBR2" "TGFB2" "TGFBR3" "SMAD5" "TGFB1" "TGFB3" "SMAD7" "BMP2" "BMP4"]}
